h1{
    color: #067bbe;
}
body{
    background-color: #bcbcbd;
}
#encabezado {
    background-color: #ffffff;
    height: 150px;
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
}
